@using StarBlog.Contrib.Extensions
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/images/bootstrap/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                 width="700" height="500" loading="lazy">
            @* <div id="word_cloud" style="width: 100%; height: 200px;"></div> *@
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">DealiAxy's Blog</h1>
            <div class="lead">
                <p>一句诗：{{poemSimple}}</p>
                <p>一言：{{hitokoto.hitokoto}}</p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2" asp-controller="Blog" asp-action="RandomPost">看文</a>
                <a class="btn btn-outline-secondary btn-lg px-4" asp-controller="Photography" asp-action="RandomPhoto">看图</a>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-3" id="custom-cards">
    <h2 class="pb-2 border-bottom">Photography</h2>

    @if (Model.FeaturedPhotos.Count > 0) {
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            @foreach (var photo in Model.FeaturedPhotos) {
                <div class="col">
                    <partial name="Widgets/PhotoCardSmall" model="photo"/>
                </div>
            }
        </div>
    }
    else {
        @await Html.PartialAsync("Widgets/PlaceholderCard", "推荐图片")
    }
    
</div>

<div class="container px-4 py-3" id="featured-3">
    <h2 class="pb-2 border-bottom">Blog Categories</h2>
    @if (Model.FeaturedCategories.Count > 0) {
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            @foreach (var fc in Model.FeaturedCategories) {
                @await Html.PartialAsync("Widgets/FeaturedCategoryCard", fc)
            }
        </div>
    }
    else {
        @await Html.PartialAsync("Widgets/PlaceholderCard", "推荐分类")
    }

</div>

<div class="container px-4 py-3">
    <h2 class="pb-2 border-bottom">Blog Posts</h2>

    @if (Model.TopPost != null) {
        <partial name="Widgets/TopPostCard" model="Model.TopPost"/>
    }
    else {
        @await Html.PartialAsync("Widgets/PlaceholderCard", "置顶博客")
    }


    @if (Model.FeaturedPosts.Count > 0) {
        <div class="row mb-2">
            @foreach (var post in @Model.FeaturedPosts) {
                <partial name="Widgets/FeaturedPostCard" model="post"/>
            }
        </div>
    }
    else {
        @await Html.PartialAsync("Widgets/PlaceholderCard", "推荐博客")
    }
</div>

@section bottom {
    <script src="~/js/home.js"></script>
}