@{
    ViewData["Title"] = "Products";
}

<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottom">
        <div>Products</div>
        <div>None</div>
    </h2>

    <div class="d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="~/images/codelab.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">功能正在开发中</h5>
                <p class="card-text">Features are under development.</p>
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index">返回主页</a>
            </div>
        </div>
    </div>
</div>