<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">当前分类没有文章</h5>
                <div class="card-text text-muted">
                    <small>不了吧，这个分类还没写文章呢~</small>
                </div>
                <p class="card-text">要不扫码关注公众号看看有什么有趣的？</p>
                <a class="btn btn-outline-secondary stretched-link" href="#">
                    催更！
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <img src="~/images/qrcode_sm.jpg" class="img-fluid rounded-start" width="200" alt="">
        </div>
    </div>
</div>