@model Photo

<div class="card card-cover overflow-hidden shadow-lg rounded-2"
     style="background-image: url('media/photography/@Model.FilePath.Replace("\\", "/")?width=300'); height:20em;">

</div>