@model Post

<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <div class="display-6 fst-italic">@Model.Title</div>
        <p class="lead my-3">@Model.Summary</p>
        <p class="lead mb-0">
            <a class="text-white fw-bold"
               asp-controller="Blog" asp-action="Post" asp-route-id="@Model.Id">
                Continue reading...
            </a>
        </p>
    </div>
</div>