@model BlogList
@{
    ViewData["Title"] = "博客列表";
}

@foreach (var post in Model.Posts) {
    <div class="card mb-3">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-outline-secondary float-right">Go somewhere</a>
        </div>
    </div>
}
