@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@using StarBlog.Web.Utils
@model BlogListViewModel
@{
    ViewData["Title"] = "博客列表";
}

<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottom">
        <div>Blog / Categories</div>
    </h2>

    <div class="row">
        <div class="col-lg-3" id="categories">
        </div>
        
        <div class="col-lg-9"></div>
    </div>
</div>

@section bottom {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="~/js/blog-list.js"></script>
}