@model PostViewModel
@{
    ViewData["Title"] = Model.Title;
}

@section head {
    <link rel="stylesheet" href="~/lib/editormd/css/editormd.preview.min.css">
    <style>
        body {padding: 40px;}
        
        #layout > header, .btns {
            width: auto;
        }
        
        #sidebar {
            width: 400px;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            overflow: hidden;
            background: #fff;
            z-index: 100;
            padding: 18px; 
            border: 1px solid #ddd;
            border-top: none;
            border-bottom: none;
        }
        
        #sidebar:hover {
            overflow: auto;
        }
        
        #sidebar h1 {
            font-size: 16px;
        }
        
        #custom-toc-container {
            padding-left: 0;
        }
        
        #test-editormd-view, #test-editormd-view2 {
            padding-left: 0;
            padding-right: 430px;
            margin: 0;
        }
    </style>
}

<div id="layout" class="container">
    <header>
        <h1>Markdown转HTML的显示处理之自定义 ToC 容器</h1>
        <p>即：非编辑情况下的HTML预览</p>
        <p>HTML Preview (markdown to html and custom ToC container)</p>
    </header>
    <div class="btns">
        <button onclick="location.href='./html-preview-markdown-to-html.html';">返回 Back</button>
    </div>
    <div id="sidebar">
        <h1>Table of Contents</h1>
        <div class="markdown-body editormd-preview-container" id="custom-toc-container">#custom-toc-container</div>
    </div>
    <div id="test-editormd-view">
        <textarea style="display:none;" name="test-editormd-markdown-doc">@Model.Content</textarea>
    </div>
    <div id="test-editormd-view2">
        <textarea id="append-test" style="display:none;">@Model.Content</textarea>
    </div>
</div>

@section bottom {
    <script src="~/lib/editormd/examples/js/jquery.min.js"></script>
    <script src="~/lib/editormd/lib/marked.min.js"></script>
    <script src="~/lib/editormd/lib/prettify.min.js"></script>

    <script src="~/lib/editormd/lib/raphael.min.js"></script>
    <script src="~/lib/editormd/lib/underscore.min.js"></script>
    <script src="~/lib/editormd/lib/sequence-diagram.min.js"></script>
    <script src="~/lib/editormd/lib/flowchart.min.js"></script>
    <script src="~/lib/editormd/lib/jquery.flowchart.min.js"></script>

    <script src="~/lib/editormd/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var testEditormdView, testEditormdView2;
            
            // $.get(`/Api/BlogPost/@Model.Id/`, function(blogPost) {
            //    
            //     testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            //         markdown        : blogPost.content ,//+ "\r\n" + $("#append-test").text(),
            //         //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
            //         htmlDecode      : "style,script,iframe",  // you can filter tags decode
            //         //toc             : false,
            //         tocm            : true,    // Using [TOCM]
            //         tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
            //         //gfm             : false,
            //         //tocDropdown     : true,
            //         // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
            //         emoji           : true,
            //         taskList        : true,
            //         tex             : true,  // 默认不解析
            //         flowChart       : true,  // 默认不解析
            //         sequenceDiagram : true,  // 默认不解析
            //     });
            //    
            //     //console.log("返回一个 jQuery 实例 =>", testEditormdView);
            //    
            //     // 获取Markdown源码
            //     //console.log(testEditormdView.getMarkdown());
            //    
            //     //alert(testEditormdView.getMarkdown());
            // });
                
            // testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
            //     htmlDecode      : "style,script,iframe",  // you can filter tags decode
            //     emoji           : true,
            //     taskList        : true,
            //     tex             : true,  // 默认不解析
            //     flowChart       : true,  // 默认不解析
            //     sequenceDiagram : true,  // 默认不解析
            // });
            
            testEditormdView = editormd.markdownToHTML("test-editormd-view2", {
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                //toc             : false,
                tocm            : true,    // Using [TOCM]
                tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
        });
    </script>
}