<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if (ViewData.ContainsKey("title")) {
        <title>画星星高手 - @ViewData["title"]</title>
    }
    else {
        <title>画星星高手</title>
    }

    @* <link rel="stylesheet" href="~/css/metro.css"> *@
    @* <link rel="stylesheet" href="~/css/footer.css"> *@
    @* <link rel="stylesheet" href="~/css/index.css"> *@
    @* <link rel="stylesheet" href="~/css/animation.css"> *@

    <link rel="stylesheet" href="~/lib/fontawesome-free-6.0.0-web/css/all.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootswatch/dist/litera/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/app.min.css">

    @await RenderSectionAsync("head", false)
</head>
<body class="metro-bg-white">

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light border-0">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">画星星高手</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Blog" asp-action="List">博客</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Photography" asp-action="Index">摄影</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">文字</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Action</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div id="vue-app">
        @RenderBody()
    </div>

</div>

<footer class="metro-bg-black">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="footer-content" class="col-md-10 col-md-offset-3 footer-list text-center">
                    <p class="social-icons">
                        <a target="_blank" rel="nofollow" href="http://weibo.com/axy12">
                            <i class="fab fa-weibo"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="http://t.qq.com/Deali-Axy">
                            <i class="fab fa-weixin"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="https://live.bilibili.com/11883038">
                            <i class="fas fa-tv"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="http://github.com/Deali-Axy">
                            <i class="fab fa-github"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="https://www.zhihu.com/people/dealiaxy">
                            <i class="fab fa-zhihu"></i>
                        </a>
                    </p>

                    <p>Copyright 2019 <a href="http://blog.deali.cn">DealiAxy</a>. All Rights Reserved.</p>
                    <p>
                        All content is released under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" rel="external nofollow" target="_blank">Creative Commons BY-NC-SA 3.0</a>.
                        If articles including programming codes (e.g. Java, Python, C#, Go) are exceptions, which are released under
                        <a href="http://www.gnu.org/licenses/gpl.html" rel="external nofollow" target="_blank">
                            GPL
                            v3
                        </a>.
                    </p>
                    <p>
                        所有內容皆以<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" rel="external nofollow" target="_blank"> 知识共享署名-相同方式共享 4.0 国际许可协议 </a>
                        进行发布。含有程序代码內容的文章 (如 Java, Python, C#, Go) 除外，包含的程序代码皆以 <a href="http://www.gnu.org/licenses/gpl.html" rel="external nofollow" target="_blank">GPL v3</a> 发布。
                    </p>
                    <p>
                        <a href="http://www.miitbeian.gov.cn/" rel="external nofollow" target="_blank">粤ICP备17103309号</a>
                    </p>
                    <p>
                        <script>
                            //百度统计
                            var _hmt = _hmt || [];
                            (function () {
                                var hm = document.createElement("script");
                                hm.src = "https://hm.baidu.com/hm.js?b8ff7edd033f38747b154905db5bb936";
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(hm, s);
                            })();

                            //百度自动提交
                            (function () {
                                var bp = document.createElement('script');
                                var curProtocol = window.location.protocol.split(':')[0];
                                if (curProtocol === 'https') {
                                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                                } else {
                                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                                }
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(bp, s);
                            })();
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/app.min.js"></script>

@await RenderSectionAsync("bottom", false)
</body>

</html>