<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="画星星高手博客；程序设计实验室博客；">
    <meta name="author" content="DealiAxy">
    <meta name="generator" content="StarBlog">
    <title>StarBlog · 画星星高手 - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootswatch/dist/united/bootstrap.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/features.css">
    <link rel="stylesheet" href="~/css/metro.css">
    <link rel="stylesheet" href="~/css/footer.css">

    @await RenderSectionAsync("head", false)
</head>
<body class="metro-bg-white">

<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                   asp-controller="Home" asp-action="Index">
                    <img src="~/images/codelab.jpg" alt="" style="height: 64px;width: 64px;">
                </a>

                <ul class="nav col-12 col-lg-auto pt-1 my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a class="nav-link text-white" asp-controller="Home" asp-action="Index">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-house fa-2xl"></i>
                            </div>
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-controller="Blog" asp-action="List">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-table-list fa-2xl"></i>
                            </div>
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-images fa-2xl"></i>
                            </div>
                            Photos
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-cubes fa-2xl"></i>
                            </div>
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <div class="bi d-block mx-auto mb-1 text-center">
                                <i class="fa-solid fa-terminal fa-2xl"></i>
                            </div>
                            Console
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-light text-dark me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </div>
    </div>
</header>

<main id="vue-app">@RenderBody()</main>

<footer class="metro-bg-black">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="footer-content" class="col-md-10 col-md-offset-3 footer-list text-center">
                    <p class="social-icons">
                        <a target="_blank" rel="nofollow" href="http://weibo.com/axy12">
                            <i class="fab fa-weibo"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="http://t.qq.com/Deali-Axy">
                            <i class="fab fa-weixin"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="https://live.bilibili.com/11883038">
                            <i class="fas fa-tv"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="http://github.com/Deali-Axy">
                            <i class="fab fa-github"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="https://www.zhihu.com/people/dealiaxy">
                            <i class="fab fa-zhihu"></i>
                        </a>
                    </p>

                    <p>Copyright 2019 <a href="http://blog.deali.cn">DealiAxy</a>. All Rights Reserved.</p>
                    <p>
                        All content is released under
                        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" rel="external nofollow" target="_blank">
                            Creative Commons
                            BY-NC-SA 3.0
                        </a>.
                        If articles including programming codes (e.g. Java, Python, C#, Go) are exceptions, which are released under
                        <a href="http://www.gnu.org/licenses/gpl.html"
                           rel="external nofollow" target="_blank">
                            GPL
                            v3
                        </a>.
                    </p>
                    <p>
                        所有內容皆以<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en" rel="external nofollow" target="_blank"> 知识共享署名-相同方式共享 4.0 国际许可协议 </a>
                        进行发布。含有程序代码內容的文章 (如 Java, Python, C#, Go) 除外，包含的程序代码皆以 <a href="http://www.gnu.org/licenses/gpl.html" rel="external nofollow" target="_blank">GPL v3</a> 发布。
                    </p>
                    <p>
                        <a href="http://www.miitbeian.gov.cn/" rel="external nofollow" target="_blank">粤ICP备17103309号</a>
                    </p>
                    <p>
                        <script>
                            //百度统计
                            var _hmt = _hmt || [];
                            (function () {
                                var hm = document.createElement("script");
                                hm.src = "https://hm.baidu.com/hm.js?b8ff7edd033f38747b154905db5bb936";
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(hm, s);
                            })();

                            //百度自动提交
                            (function () {
                                var bp = document.createElement('script');
                                var curProtocol = window.location.protocol.split(':')[0];
                                if (curProtocol === 'https') {
                                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                                } else {
                                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                                }
                                var s = document.getElementsByTagName("script")[0];
                                s.parentNode.insertBefore(bp, s);
                            })();
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("bottom", false)
</body>
</html>