@{
    ViewData["Title"] = "关于本网站";
}
<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottom">
        <div>About</div>
        <div>关于本网站</div>
    </h2>

    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">关于站长</h5>
                    <h6 class="card-subtitle mb-2 text-muted">曦远 (DealiAxy)</h6>
                    <p class="card-text">全干开发者、Linux中度依赖者、业余摄影玩家、文学爱好者</p>
                    <a href="https://github.com/Deali-Axy" class="card-link" target="_blank">Github</a>
                    <a href="https://www.zhihu.com/people/dealiaxy" class="card-link" target="_blank">知乎主页</a>
                    <a href="https://www.cnblogs.com/deali/" class="card-link" target="_blank">博客园</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">主要技能</h5>
                    <p class="card-text text-muted">以CRUD为主，熟练使用搜索引擎，擅长各种CV操作，精通git clone代码转移大法</p>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">后端开发 / C# / Python / Kotlin / Go / PHP</div>
                    <div class="list-group-item">前端开发 / React / Vue</div>
                    <div class="list-group-item">移动端开发 / Flutter / Android</div>
                    <div class="list-group-item">桌面端开发 / Winform / PyQt</div>
                    <div class="list-group-item">数据分析</div>
                    <div class="list-group-item">爬虫数据采集</div>
                    <div class="list-group-item">机器学习 / 深度学习 / NLP / CV</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="~/images/codelab.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">程序设计实验室</h5>
                    <div class="card-text">一个技术探索与分享的平台</div>
                    <small class="card-text text-muted">
                        专注于互联网热门新技术探索与团队敏捷开发实践，包括Web前后端、移动端开发、机器学习、数据分析、算法、Linux等技术，欢迎探讨、分享学习实践经验。
                    </small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <img src="~/images/qrcode_sm.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">微信公众号</h5>
                    <div class="card-text">欢迎扫码交流</div>
                    <small class="card-text text-muted">
                        专注于互联网热门新技术探索与团队敏捷开发实践，包括Web前后端、移动端开发、机器学习、数据分析、算法、Linux等技术，欢迎探讨、分享学习实践经验。
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>