<div class="mt-5">
    <div class="d-flex justify-content-between border-bottom pb-1">
        <h5>评论</h5>
        <button class="btn btn-link">刷新</button>
    </div>

    <form class="my-3">
        <div class="mb-1">
            <label for="content" class="form-label sr-only">评论内容</label>
            <textarea class="form-control" id="content"aria-describedby="commentContent"placeholder="友善的评论是交流的起点"></textarea>
            <div class="form-text">良言一句三冬暖，恶语伤人六月寒。</div>
        </div>
        <button class="btn btn-outline-primary float-end">发表评论</button>
    </form>
</div>