/* Metro 配色定义 */

.metro-bg-grey {
    background-color: #DEDFDE;
}

.metro-bg-black {
    background-color: #000000;
}

.metro-bg-white {
    background-color: #ffffff;
}

.metro-grey {
    color: #DEDFDE;
}

.metro-red {
    color: #E51400;
}

.metro-green {
    color: #339933;
}

.metro-blue {
    color: #1BA1E2;
}

.metro-orange {
    color: #F09609;
}

.metro-grassGreen {
    color: #8CBF26;
}

.metro-lakeBlue {
    color: #00ABA9;
}

.metro-carmine {
    color: #FF0097;
}

.metro-pink {
    color: #E671B8;
}

.metro-brown {
    color: #996600;
}

.metro-purple {
    color: #A200FF;
}