@model PhotographyViewModel
@{
    ViewData["Title"] = "摄影";
}

<div class="container px-4 py-3">
    <h2 class="d-flex w-100 justify-content-between pb-2 mb-3 border-bottom">
        <div>Photography </div>
        <div>@Model?.Photos.Count.ToString() Photos</div>
    </h2>

    <div>
        lalalala
    </div>
</div>