@{
    ViewData["Title"] = "Home Page";
}

<div class="tile-container">
    <div class="tile-column">
        <div class="tile tile-md"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-wd"></div>
        <div class="tile tile-md"></div>
        <div class="tile tile-md"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-lg"></div>
    </div>
    <div class="tile-column">
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-lg"></div>
        <div class="tile tile-md"></div>
        <div class="tile tile-md"></div>
        <div class="tile tile-wd"></div>
        <div class="tile tile-md"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
        <div class="tile tile-sm"></div>
    </div>
</div>

@section bottom {
    @* <script src="~/js/index.js"></script> *@
}
